<!doctype html>
<html>
    <head>
        
        <title>{{title}}</title>

    </head>
    <body>
        <a href="/blog">List All Entries<br />(oldest-first)</a>

        <a href="/blog?sort=newest">List All Entries<br / >(newest-first)</a>
        
        <a href="/newblog">Create a New Entry<br /></a>
        <br/>
        <a href="/logout">Log Out</a>
        <br/>
        <a href="/signup">Sign Up</a>
        
        <br/>
        <a href="/login">Log In</a>
        
        {% block content %}
        {% endblock %}
    </body>
</html>